@import "fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

*,html,body{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#home{
  background: url("../img/cover.jpg") no-repeat center top / cover;
  height: 100vh;
  padding-top: 25%;
}

.main{
  text-align: center;
    h1{
      color: #fff;
      font-weight: 900;
      font-size: 50px;
      text-transform: uppercase;
      margin: 20px 0;
    }
}

.main_text{
  font-size: 18px;
  color: white;
}

#services{
  background: #f5f5f5;
  padding-top: 100px;
}

.container{
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.service_text_main{
  text-align: center;
    h2{
      color: #222;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
    }
}

.lin{
  width: 10%;
  margin: 0 auto;
}

.service_text{
  color: #666;
  font-weight: 300;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 60px;
}

#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-bottom: 80px;

    div{
      font-size: 20px;
      padding: 100px 10px;
      background: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      border-bottom: 1px solid #d4d4d4;
    }
}

#works{
  background: #fff;
  padding-top: 100px;
  margin-bottom: 250px;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

    img{
      width: 320px;
      height: 200px;
    }
}

.flex_img_one{
  margin-top: -180px;
  margin-left: 70px;
  color: #fff;
  text-transform: uppercase;
}

.flex_img_two{
  margin-top: -180px;
  margin-left: 53px;
  color: #fff;
  text-transform: uppercase;
}

.flex_img_three{
  margin-top: -180px;
  margin-left: 105px;
  color: #fff;
  text-transform: uppercase;
}

#skills{
  background: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 50px;
}

.spisok{
  text-align: center;

    li{
      text-transform: uppercase;
      color: #000;
      font-size: 25px;
      font-weight: 600;
    }
}

#contacts{
  background: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
}

.form{

    input{
      display: block;
      margin: 15px auto;
    }
}

.input_name{
  padding: 10px 290px 10px 10px;
}

.input_email{
  padding: 10px 290px 10px 10px;
}

.input_message{
  padding: 10px 290px 130px 10px;
}

.button{
  width: 290px;
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

#social{
  background: #222;
  color: #fff;
}

.icons{
  text-align: center;
}

.social_links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 30px 20px;

    li{
      margin: 0 30px;

        i{
          color: #666;
          border: 1px solid #666;
          padding: 6px 10px;
        }
    }
}

.li_item:hover{
  color: #fff;
  border-color: #fff;
  transition: 0.3s ease-in-out;
}

.copyright{
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}